@import url('https://fonts.googleapis.com/css2?family=Lato&family=Overpass:wght@400;700&display=swap');

:root {
    --primary-color-orange: hsl(25, 97%, 53%);
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-lightgray: hsl(217, 12%, 63%);
    --neutral-color-mediumgray: hsl(216, 12%, 54%);
    --neutral-color-darkblue: hsl(213, 19%, 18%);
    --neutral-color-vdarkblue: hsl(216, 12%, 8%);

    --color-gradient-darkblue: 213, 19%, 18%;
    --color-gradient-vdarkblue: 216, 12%, 8%;
}

body {
    height: 100vh;
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-image: linear-gradient(to bottom left, hsla(var(--color-gradient-darkblue), 1), hsla(var(--color-gradient-vdarkblue), 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.star-icon {
    align-items: center;
    background-color: var(--neutral-color-darkblue);
    border-radius: 50%;
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
}

.thank-you {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

.star-icon img {
    width: 18px;
    height: 18px;
}

.main-text {
    color: var(--neutral-color-white);
}

.alert-text {
    color: var(--primary-color-orange);
    font-weight: 700;
    text-align: center;
}

.alt-text {
    font-size: 13px;
    color: var(--neutral-color-lightgray);
    font-weight: 700;
}

.selected-rating {
    background-color: var(--neutral-color-darkblue);
    border-radius: 50px;
    justify-content: center;
    display: flex;
}

.selected-rating-text {
    color: var(--primary-color-orange);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.rating-component {
    background-color: var(--neutral-color-vdarkblue);
    border-radius: 25px;
    max-width: 375px;
    padding: 15px;
}

.submit {
    background-color: var(--primary-color-orange);
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    color: var(--neutral-color-white);
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
}

.submit:hover,
.submit:active {
    background-color: var(--neutral-color-white);
    color: var(--primary-color-orange);
    transition: 0.3s ease-in;
}

.rating-levels {
    text-align: center;
    margin-bottom: 25px;
}

.rating-level {
    color: var(--neutral-color-lightgray);
    background-color: var(--neutral-color-darkblue);
    display: inline-flex;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.rating-level:hover {
    background-color: var(--neutral-color-lightgray);
    color: var(--neutral-color-white);
}

.rating-level:active {
    background-color: var(--primary-color-orange);
    transition: 0s;
}

@media screen and (max-width: 375px) {
    .rating-levels {
        word-spacing: 0px;
    }

    .rating-level {
        width: 54px;
        height: 54px;
    }

    .rating-component {
        padding: 15px;
    }
}

@media screen and (max-width: 1920px) {
    .rating-levels {
        word-spacing: 5px;
    }
    
    .rating-component {
        padding: 25px;
    }
}

.text-center {
    text-align: center;
}

.selected {
    background-color: var(--primary-color-orange);
    color: var(--neutral-color-white);
}